{% extends 'base.html' %}


{% block content %}
 
  <!-- CLASS -->
  <section class="class section" id="class">
    <div class="container">
         <div class="row">

                 <div class="col-lg-12 col-12 text-center mb-5">
                     <h6 data-aos="fade-up">workout </h6>

                     <h2 data-aos="fade-up" data-aos-delay="200">Workout Calculator</h2>
                  </div>
               

                

<form method="post" action="{% url 'cam_but' %}">
    {% csrf_token %}
    <input type="submit" name="submit">
</form>
 
 you did total this many reps-{{som}}
                  



         </div>
    </div>
</section>




{% endblock %}

