<h4 class="card-title mt-3 text-center">Login to your account</h4>
<p class="text-center">Get started with your free account</p>



<form method="POST" action="">
{% csrf_token %}
<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-envelope"></i> </span>
     </div>
    <input name="email" class="form-control" placeholder="Email address" type="email" required>
</div> <!-- form-group// -->


<div class="form-group input-group">
    <div class="input-group-prepend">
        <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
    </div>
    <input class="form-control" name="password" placeholder="password" type="password">
</div> <!-- form-group// -->

<p class="divider-text">
    <span class="bg-light">OR</span>
</p>

<p>
    <a href="" class="btn btn-block btn-twitter"> <i class="fab fa-google"></i>   Login via Google</a>
</p>


<div class="form-group">
    <button type="submit" value="login" class="btn btn-primary btn-block"> Log in  </button>
</div> <!-- form-group// -->      
<p class="text-center">dont Have an account? <a href="{% url 'register' %}">sign up</a> </p>                                                                 
</form>
</article>
</div> <!-- card.// -->

</div> 
<!--container end.//-->