 <!-- MENU BAR -->
 <nav class="navbar navbar-expand-lg fixed-top">
    <div class="container">

        <a class="navbar-brand" href="{% url 'home' %}">Fitness Coach</a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-lg-auto">
                <li class="nav-item">
                    <a href="{% url 'home' %}" class="nav-link smoothScroll">Home</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'health' %}" class="nav-link smoothScroll">Health</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'food' %}" class="nav-link smoothScroll">Calorie Counter</a>
                </li>

                <li class="nav-item">
                    <a href="{% url 'cool' %}" class="nav-link smoothScroll">Workout</a>
                </li>
                {% if  request.user.is_authenticated %}
                <li class="nav-item">
                    <a href="{% url 'profile' %}" class="nav-link smoothScroll">Profile</a>
                </li>
                {% endif %}
                <li class="nav-item">
                    <a href="{% url 'result' %}" class="nav-link smoothScroll">Performance Report</a>
                </li>
            </ul>

            <ul class="social-icon ml-lg-3">

                {% if  request.user.is_authenticated %}
                <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %} 
                <li><a href="{% url 'register' %}" > Register </a></li>
                <li><a href="{% url 'loginr' %}"> Login </a></li>
                {% endif %}
               
                
            </ul>
        </div>

    </div>
</nav>



<style>
    .float{
        position:fixed;
        width:60px;
        height:60px;
        bottom:40px;
        right:40px;
        background-color:#25d366;
        color:#FFF;
        border-radius:50px;
        text-align:center;
      font-size:30px;
        box-shadow: 2px 2px 3px #999;
      z-index:100;
    }
    
    .my-float{
        margin-top:16px;
    }
</style>
 <!-- HERO -->
 <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
<a href="{% url 'noti' %}" class="float">
<i class="fa fa-bell my-float"></i>
</a>