{% extends 'base.html' %}


{% block content %}

  <!-- CLASS -->
  <section class="class section" id="class">
    <div class="container">
         <div class="row">

                 <div class="col-lg-12 col-12 text-center mb-5">
                     <h6 data-aos="fade-up">FOOD Intake</h6>

                     <h2 data-aos="fade-up" data-aos-delay="200">PERSONAL DETAILS</h2>
                  </div>


   YAHA PA PROFILE KE DETAILS RENDER
                  



         </div>
    </div>
</section>




{% endblock %}

