






{% extends 'base.html' %}


{% block content %}


hello world


{{ssu}}


<div class="container rounded bg-white mt-5 mb-5">
    <div class="row">
        <div class="col-md-3 border-right">
            <div class="d-flex flex-column align-items-center text-center p-3 py-5"><img class="rounded-circle mt-5" width="150px" src="https://st3.depositphotos.com/15648834/17930/v/600/depositphotos_179308454-stock-illustration-unknown-person-silhouette-glasses-profile.jpg">
                <span class="font-weight-bold">{{ssu.first_name}} {{ssu.last_name}}</span>
                <span class="text-black-50">{{ssu}}</span
                    ><span> </span>
                </div>
        </div>
        <div class="col-md-9 border-right">
            <div class="p-3 py-5">
               
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h4 class="text-right">Profile Settings</h4>
                </div>
                <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title"> Name </h4>
                            <p class="card-text">{{ssu.first_name}} {{ssu.last_name}}</p>

                            </div>
                        </div>
                    </div>

                    <div class="col-md-3">
                        <div class="card">
                            <div class="card-body">

                            <h4 class="card-title"> Email </h4>
                            <p class="card-text">{{ssu}}</p>

                        </div>
                    </div>
                </div>


                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">

                            <h4 class="card-title"> Phone </h4>
                            <p class="card-text">{{ssu.phone_no}}</p>

                        </div>
                    </div>
                </div>

            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">

                          <h4 class="card-title"> Height </h4>
                          <p class="card-text">{{prof.height}}</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">

                          <h4 class="card-title"> Weight </h4>
                          <p class="card-text">{{prof.weight}}</p>

                        </div>
                    </div>
                </div>

                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">

                          <h4 class="card-title"> BMI </h4>
                          <p class="card-text">{{prof.bmi}}</p>

                        </div>
                    </div>
                </div>

            </div>

            <br>

            <div class="row">
                <div class="col-md-3">
                    <div class="card">
                        <div class="card-body">

                          <h4 class="card-title"> Body Type </h4>
                          <p class="card-text">{{prof.body_type}}</p>
                        </div>
                      </div>
                      </div>
                    </div>


                      <br>
                      <form method="post" action="{% url 'profile' %}">
                        {% csrf_token %}
                      <div class="row">
                          
                    <div class="col-md-4"><label class="labels">First Name</label>
                        <input type="text" class="form-control" name="first_name" placeholder="first name" value="">
                    </div>
                    <div class="col-md-4"><label class="labels">Last Name </label>
                        <input type="text" class="form-control" name="last_name"  value="" placeholder="surname">
                    </div>
                    <div class="col-md-4"><label class="labels">Mobile no. </label>
                        <input type="text" class="form-control" name="phone_no" value="" placeholder="Phone no.">
                    </div>
                </div>
                <div class="text-center"><button class="btn btn-primary profile-button" type="button">Update User Profile</button></div>
            </div>
        </form>

            <br>
            <br>


            <form method="post" action="{% url 'profile' %}">
                {% csrf_token %}
            <div class="row">
          <div class="col-md-6"><label class="labels">Height</label>
              <input type="text" class="form-control" name="height" placeholder="Height in cm" value="">
          </div>
          <div class="col-md-6"><label class="labels">Weight </label>
              <input type="text" class="form-control" name="weight"  value="" placeholder="Weight">
          </div>
      </div>
      <div class="text-center"><button class="btn btn-primary profile-button" type="button">Update Profile</button></div>
    
      <br>
      <br> 
     </div>
</form>

                

                <!-- <a href="{% url 'logout' %}"><div class="mt-5 text-center"><button class="btn btn-primary profile-button" type="button">logout</button></div></a> -->
            </div>
        </div>
       
    </div>
</div>
</div>
</div>

<style>
    body {
        background: rgb(64, 232, 226)
    }
    
    .form-control:focus {
        box-shadow: none;
        border-color: #BA68C8
    }
    
    .profile-button {
        background: rgb(23, 113, 110);
        box-shadow: none;
        border: none
    }
    
    .profile-button:hover {
        background: rgb(64, 232, 226)
    }
    
    .profile-button:focus {
        background: #682773;
        box-shadow: none
    }
    
    .profile-button:active {
        background: #682773;
    
    .back:hover {
        color: #682773;
        cursor: pointer
    }
    
    .labels {
        font-size: 11px
    }
    
    .add-experience:hover {
        background: #BA68C8;
        color: #fff;
        cursor: pointer;
        border: solid 1px #BA68C8
    }
</style>

{% endblock %}